*{
    background-color: #f3f3f3;
    margin: 0;

}
body {
    text-align: center;
    background-color: #f3f3f3;
    margin: 0;
    padding:0;
}

h3{
    text-align: center;
    background-color: #f3f3f3;
}
.color-1{
    background-color: #f3f3f3;
    min-height: 50vh;
    padding-top: 6em;
    padding-bottom: 5em;
   
}
